@using CLAS.Model.VMs;
@using CLAS.Web.Core;
@using CLAS.Common;
@model CLAS.Data.Infrastructure.PagedResult<ScriptExecuteRecordDetailVM>
<table class="table table-hover">
    <thead>
    <tr>
        <th class="w100">脚本Id/名称</th>
        <th class="w100">拍手Id/名称</th>
        <th class="w200">执行条件</th>
        <th class="w100">执行时间</th>
        <th class="w100">实际开始时间</th>
        <th class="w100">实际结束时间</th>
        <th class="w200">信息</th>
        <th class="w80">执行时间(毫秒)</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var executeRecord in Model.Results)
    {
        <tr>
            <td>@executeRecord.ScriptId/@executeRecord.ScriptName</td>
            <td>@executeRecord.BidderId/@executeRecord.BidderName</td>
            <td>@executeRecord.ExecuteConditionExpress</td>
            <td>@executeRecord.ExecuteTime</td>
            <td>@executeRecord.ActualExecutionStartTime</td>
            <td>@executeRecord.ActualExecutionEndTime</td>
            <td>@executeRecord.Message.Omit()</td>
            <td>@executeRecord.ExecuteMSec</td>
        </tr>
    }
    </tbody>
</table>
@Html.Partial("_Pager",new PagerModel(Model.RowCount,Model.PageSize,Model.CurrentPage))
